backend:
  name: git-gateway
  branch: main # Branch to update (optional; defaults to master)

media_folder: "media" # Media files will be stored in the repo under media
public_folder: "/hudajassim/media" # The src attribute for uploaded media will begin with /hudajassim/media

collections:
  - name: "blog" # Used in routes, e.g., /admin/collections/blog
    label: "Blog" # Used in the UI
    folder: "_posts" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Publish Date", name: "date", widget: "datetime"}
      - {label: "Description", name: "description", widget: "text", required: false}
      - {label: "Language", name: "lang", widget: "select", options: ["en", "ku"], default: "en"}
      - {label: "Direction", name: "direction", widget: "select", options: ["ltr", "rtl"], default: "ltr"}
      - {label: "Body", name: "body", widget: "markdown"}
